.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: max-content;
    position: relative;
    overflow: hidden;
    color: var(--color-white);
    background: var(--color-main);
    font-size: var(--size-xs);
    cursor: pointer;
    padding: var(--size-md) var(--size-md);
    max-width: 440px;
    width: 100%;
    font-weight: 700;
    border-radius: 10pc;
    width: max-content;

    transition: 0.3s ease;

    &__text {
        transition: color 0.3s ease;
        position: relative;
        font-weight: 700;
        z-index: 1;
    }

    &:hover {
        background: var(--color-white);
        color: var(--color-main);
    }

    &:active {
        background: var(--color-grey);
        color: var(--color-white);
    }

    &--variant {
        background: rgba(255, 255, 255, 0.2);
        border-radius: var(--size-xs);
        padding-inline: var(--size-xs);

        &:hover {
            background: var(--color-main);
            color: var(--color-white);
        }

        &:active {
            background: rgba(84, 104, 118, 0.2);
            color: var(--color-white);
        }
    }
}
