@import "./root";

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;

    &__content {
        width: 100%;
        align-items: center;
        display: flex;
       
    }

    &__group {
        border: 1px solid var(--color-white);
        border-radius: var(--size-xl);
        padding: var(--size-sm) var(--size-xl);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-sm);
        width: 100%;
        max-width: 500px;
    }

    &__info {
        display: flex;
        max-width: max-content;
        gap: var(--size-xxs);
        font-size: var(--size-sm);
        font-weight: 800;
        justify-content: center;
        align-items: center;
    }

    &__divider {
        border: 1px solid var(--color-white);
        height: var(--size-md);
        width: 1px;
    }

}