.information {
    &__content {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
    }

    &__item {
        padding: var(--size-xxs) var(--size-xl);
        border-left: 2px solid var(--color-white);
        position: relative;
        height: max-content;

        &::before {
            content: attr(data-title);
            position: absolute;
            color: var(--color-white);
            font-size: var(--size-md);
            font-weight: 600;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-100%);
        }
    }
}
